* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  background: rgb(119, 194, 255);
  color: #000;
  text-align: center;
}

div {
  margin: 1em 0;
  font-size: 20px;
  font-weight: 700;
}

button {
  background: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #ccc;
  font-size: 20px;
}
